*,
*::before,
*::after {
  font-family: 'FontAwesome','Bai Jamjuree',sans-serif;
  box-sizing: border-box;
  flex-shrink: 0; }

body {
  --slide: 0;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1200px;
  margin: 0;
  overflow-x: hidden;
  background: #00050a url(../imgs/bg.png) top fixed no-repeat;
  background-size: contain;
  color: #e3e6e8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

h1, .h1 {
  font-size: 40px; }

h2, .h2 {
  font-size: 32px; }

h3, .h3 {
  font-size: 28px; }

h4, .h4 {
  font-size: 24px; }

h5, .h5 {
  font-size: 20px; }

h6, .h6 {
  font-size: 16px; }

.h7 {
  font-size: 12px; }

.h8 {
  font-size: 9.6px; }

a {
  text-decoration: none;
  color: #e3e6e8;
  transition: color .25s; }
  a:hover {
    color: #0095ff; }

img {
  user-select: none; }

.t-light {
  color: rgba(184, 204, 224, 0.6); }

#G7495x {
  z-index: 10; }
  #G7495x img + div {
    background-color: rgba(0, 5, 10, 0.75) !important; }

@media (min-width: 1200px) {
  .container, page {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px); } }

#contact {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  #contact::before {
    content: '';
    align-self: stretch;
    display: block;
    width: 5px;
    height: 60px;
    margin: 0 15px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(184, 204, 224, 0.2); }
  #contact .fa-envelope-o {
    padding: 10px 15px;
    color: rgba(184, 204, 224, 0.6); }

.slides {
  --slide: 0;
  --step: -100%;
  display: flex;
  overflow-x: hidden; }
  .slides > * {
    --offset: calc(var(--slide) * var(--step));
    transform: translateX(var(--offset));
    transition: transform 1s;
    will-change: transform; }

page {
  --offset: calc(var(--slide) * -100%);
  transform: translateX(var(--offset));
  width: 100%;
  padding-top: 100px;
  overflow-y: auto;
  transition: all 1.5s;
  will-change: transform; }
  @supports (-webkit-overflow-scrolling: touch) {
    page {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; } }
  page:last-of-type .slide-controls .fa-chevron-right {
    display: none; }
  page:not(:last-of-type) .slide-controls .fa-caret-left {
    display: none; }

.slide-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -40px;
  padding-right: 125px; }
  .slide-controls .fa {
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    margin-left: 25px;
    border-radius: 5px;
    padding: 6px 10px;
    color: rgba(184, 204, 224, 0.6);
    background-image: radial-gradient(circle at top left, rgba(184, 204, 224, 0.0375), transparent);
    box-shadow: 0 0 0 1px rgba(184, 204, 224, 0.125);
    cursor: pointer; }
    .slide-controls .fa::before {
      display: inline-block; }
  .slide-controls .fa-chevron-right::before {
    transform: rotate(-45deg) translateX(2.5px) scale(0.75); }
  .slide-controls .fa-chevron-left::before {
    transform: rotate(-45deg) translateX(-2.5px) scale(0.75); }
  .slide-controls .fa-caret-left {
    transform: none;
    height: 25px;
    font-family: 'FontAwesome','Bai Jamjuree',sans-serif;
    font-size: 12px; }
    .slide-controls .fa-caret-left::before {
      margin-right: 10px; }

.flex {
  display: flex;
  align-items: center; }

.img-section {
  position: relative;
  left: 100px;
  width: 600px;
  height: 450px;
  margin-right: -50px;
  perspective: 600px;
  transform: perspective(600px);
  transition: transform 1s, background-color .5s; }
  .img-section:not(:hover) {
    transform: perspective(600px) rotateY(15deg); }
    .img-section:not(:hover) > .slides {
      transform: translate3D(-30px, 0, 25px); }
    .img-section:not(:hover) .fa-chevron-left,
    .img-section:not(:hover) .fa-chevron-right {
      opacity: 0; }
  .img-section.zoom {
    transform: initial;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    max-width: initial;
    height: auto;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5); }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: initial; } }
    .img-section.zoom > img {
      width: calc(100% - 40px);
      height: calc(100% - 210px);
      margin: 80px 20px 130px;
      border-radius: 0;
      box-shadow: none;
      object-fit: contain;
      cursor: initial;
      animation: zoom 2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .img-section.zoom > .fa-mouse-pointer {
      display: none; }

@keyframes slide-up {
  from {
    transform: translateY(500%); }
  to {
    transform: initial; } }
    .img-section.zoom > .slides {
      transform: initial;
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      margin: auto;
      animation: slide-up 2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .img-section.zoom + .content {
      opacity: 0; }
  .img-section img {
    object-fit: cover; }
  .img-section > img {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), 0 25px 50px -12.5px rgba(0, 0, 0, 0.375);
    cursor: pointer;
    transition: box-shadow .25s; }
    .img-section > img:not(:hover) + .fa-mouse-pointer {
      opacity: 0; }
  .img-section > .fa-mouse-pointer {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.125);
    font-family: 'FontAwesome','Bai Jamjuree',sans-serif;
    font-size: 12px;
    pointer-events: none;
    transition: opacity .5s; }
    .img-section > .fa-mouse-pointer::before {
      padding-right: 2px; }
  .img-section > .slides {
    --step: -140px;
    position: absolute;
    right: 0px;
    bottom: -45px;
    max-width: 280px;
    height: 130px;
    transform: translateX(-10px);
    transition: transform 1s; }
    .img-section > .slides > img {
      margin: 10px;
      width: 120px;
      height: 90px;
      border-radius: 5px;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), 0 10px 40px rgba(0, 0, 0, 0.125);
      cursor: pointer;
      transition: transform 1s, box-shadow .5s; }
      .img-section > .slides > img:hover {
        box-shadow: 0 0 0 3px rgba(0, 149, 255, 0.75), 0 5px 20px rgba(0, 149, 255, 0.125); }
    .img-section > .slides[style*="0"] .fa-chevron-left {
      visibility: hidden;
      opacity: 0;
      pointer-events: none; }
    .img-section > .slides[data-slides="1"][style*="0"] .fa-chevron-right, .img-section > .slides[data-slides="2"][style*="0"] .fa-chevron-right, .img-section > .slides[data-slides="3"][style*="1"] .fa-chevron-right, .img-section > .slides[data-slides="4"][style*="2"] .fa-chevron-right {
      visibility: hidden;
      opacity: 0;
      pointer-events: none; }
  .img-section .fa-chevron-left,
  .img-section .fa-chevron-right {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 20px;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.125);
    cursor: pointer;
    transition: all 1s; }
  .img-section .fa-chevron-left {
    transform: none !important;
    left: 0;
    padding-right: 2px; }
  .img-section .fa-chevron-right {
    transform: none !important;
    right: 0;
    padding-left: 2px; }
  .img-section > .fa-times {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: -40px;
    left: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.075);
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    cursor: pointer; }
  .img-section:not(.zoom) > .fa-times {
    display: none; }

.content {
  z-index: 1;
  transform: translateZ(1px);
  position: relative;
  flex: 1;
  padding: 0 50px; }
  .content .project-strength {
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(0, 149, 255, 0.125), transparent); }
    .content .project-strength::before {
      content: '';
      display: block;
      width: 5px;
      height: 20px;
      margin-right: 10px;
      border-radius: 1.25px;
      background-image: linear-gradient(to bottom, #00d5ff, #0080ff); }

.description {
  padding: 50px 100px;
  text-align: justify; }
  .description > * {
    margin-bottom: 20px; }
  .description a {
    margin-left: 2px; }

#page1 {
  display: flex;
  align-items: center;
  padding-bottom: 80px; }
  #page1 img {
    transform: perspective(550px) scale(0.875) translateY(200px) rotateX(90deg) rotateZ(45deg);
    position: relative;
    right: 100px;
    width: 400px;
    margin-left: -400px;
    opacity: .25;
    transition: opacity 1s; }
  #page1 .content {
    margin-left: -100px;
    border-left: 1px solid rgba(184, 204, 224, 0.25); }
  #page1 .fa-chevron-right {
    transform: rotate(45deg);
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 6px 10px;
    color: rgba(184, 204, 224, 0.6);
    background-image: radial-gradient(circle at top left, rgba(184, 204, 224, 0.0375), transparent);
    box-shadow: 0 0 0 1px rgba(184, 204, 224, 0.125);
    cursor: pointer; }
    #page1 .fa-chevron-right::before {
      display: inline-block;
      transform: rotate(-45deg) translateX(2.5px) scale(0.75); }
