// TODO-FUTURE: @include hover
// TODO-FUTURE: @property rules

// Hide Scrollbars ------------------------------------------------------------

.scroll-viewport{
	scrollbar-width: none;
	&::-webkit-scrollbar{
		-webkit-appearance: none;
		display: none;
		width: 0;
		height: 0;
	}
}

// Container Styles -----------------------------------------------------------

.scroll-container{
	--scrollRight: calc(var(--scrollWidth) - var(--scrollLeft) - var(--clientWidth));
	--scrollBottom: calc(var(--scrollHeight) - var(--scrollTop) - var(--clientHeight));
	--scrollXPhase: 0; // Handling 0/0 case
	--scrollYPhase: 0; // Handling 0/0 case
	--scrollXPhase: calc(var(--scrollLeft) / (var(--scrollWidth) - var(--clientWidth)));
	--scrollYPhase: calc(var(--scrollTop) / (var(--scrollHeight) - var(--clientHeight)));

	position: relative;
	overflow: hidden;
}

.scroll-viewport{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.scroll-content-wrapper{
	width: max-content;
	height: max-content;
	min-width: 100%;
	min-height: 100%;
}

// TODO-FUTURE: Safari iOS enable when no lag
@supports not (-webkit-touch-callout: none){ // CSS specific to iOS devices
	.scroll-smooth-window-wrapper{
		width: calc(1px * var(--scrollWidth));
		height: calc(1px * var(--scrollHeight));
	}

	.scroll-smooth-window{
		position: sticky;
		top: 0;
		left: 0;
		width: calc(1px * var(--clientWidth));
		height: calc(1px * var(--clientHeight));
		overflow: hidden;
		>.scroll-content-wrapper{
			transform: translate(
					calc(-1px * var(--scrollLeft)),
					calc(-1px * var(--scrollTop))
			);
			transition: transform 2s;
		}
	}
}

.scroll-viewport,
.scroll-content-wrapper,
.scroll-smooth-window-wrapper,
.scroll-smooth-window{
	margin: 0 !important;
	border: none !important;
	padding: 0 !important;
}

// Scrollbar Styles -----------------------------------------------------------

.scroll-bar{
	--scrollBarThickness: 4px;
	&:hover{ --scrollBarThickness: 8px; }

	position: absolute;
	margin: 2px;
	transition:
		opacity .5s;
}

.scroll-bar-y{
	top: 0;
	//right: 0;
	bottom: var(--scrollBarThickness);

	// Auto hide scrollbar if scrollHeight<=clientHeight
	right: min(
		calc((var(--scrollHeight) - var(--clientHeight)) * 1000px - 1000px), // scrollHeight<=clientHeight
		0px                                                                  // scrollHeight>clientHeight
	);
}

.scroll-bar-x{
	right: var(--scrollBarThickness);
	// bottom: 0;
	left: 0;

	// Auto hide scrollbar if scrollWidth<=clientWidth
	bottom: min(
		calc((var(--scrollWidth) - var(--clientWidth)) * 1000px - 1000px), // scrollWidth<=clientWidth
		0px                                                                // scrollWidth>clientWidth
	);
}

.scroll-bar-thumb{
	border-radius: 1000px;
	padding: calc(var(--scrollBarThickness) / 2);
	transition: transform .1s;
}

.scroll-bar-thumb-x{
	transform: translateX(calc((var(--scrollLeft) / var(--clientWidth)) * 100%)); // scrollLeft / clientWidth * 100%
	width: calc((var(--clientWidth) / var(--scrollWidth)) * 100%); // clientWidth / scrollWidth * 100%
}

.scroll-bar-thumb-y{
	transform: translateY(calc((var(--scrollTop) / var(--clientHeight)) * 100%)); // scrollTop / clientHeight * 100%
	height: calc((var(--clientHeight) / var(--scrollHeight)) * 100%); // clientHeight / scrollHeight * 100%
}

// Color Styles ---------------------------------------------------------------

.scroll-bar-thumb{ background-color: Hsla(var(--textHSL),.75) }
.scroll-container:not(:hover)>.scroll-bar{ opacity: .25 }
