@import '../../_variables';

#App{
	transition: opacity 5s;
	&:not(.loaded){
		opacity: 0;
		.stamp{ transform: rotate(-1080deg) }
	}
	&.loaded{
		>.scroll-container>.scroll-viewport>.scroll-content-wrapper{ animation: slideInLeft 2s }
	}
	>.scroll-container{
		// TODO: Trippy mode
		// transform: perspective(2000px) rotateY(calc(var(--scrollXVelocity) * .25deg));
		// transform-origin: calc(50% + 50% * var(--scrollXDirection)) 50%;
		// transition:
		// 	transform 2s,
		// 	transform-origin .25s;

		background-image: url('../../assets/imgs/bg.png');
		background-position: 45% 50%;
	}
}
