@import '../../_variables';

#Slide3{
	@include gap-x(30px);
	transform: translateZ(0px);
	width: calc(var(--scrollClientWidth) * 1px);
	@include media-breakpoint-up(sm){ width: 360px }
	overflow: hidden;
	//background-color: hsl(var(--bgHSL));
	background-image: linear-gradient(to bottom,black,hsl(0,0,2.5%));
	.vertical-divider{ margin-right: 5px !important; }
}