@import '_variables';
@import '_animations';

:root{
	//--mutedAlpha: 0.6;
	@include hsla-split($accent-0500,accent);

	// --pixelRatio: 1;
	// @media only screen and (-webkit-min-device-pixel-ratio: 2){ --pixelRatio: 2 }
	// @media only screen and (   min--moz-device-pixel-ratio: 2){ --pixelRatio: 2 }
	--pixelSize: calc(1px / var(--pixelRatio));

	position: fixed;
}

body{
	overflow: hidden;
	font-family: FontAwesome,'Bai Jamjuree','Segoe UI Symbol','Apple Symbols',sans-serif;
	font-weight: 500;

	@include bg-color($gray-0000);
	@include text-color($gray-1000);

	@media screen and (min-height: 1080px){ zoom: calc(var(--innerHeight) / 1080); } // Large screens
}

body,
#root{ display: contents }

a{ color: inherit }

.vertical-text{
	transform: rotateZ(180deg);
	writing-mode: vertical-rl;
	//text-orientation: mixed;
}

hr{
	height: auto;
	border-top: 1px solid currentColor;
}
.vc{ border-left: 1px solid currentColor; }
hr,.vc{ opacity: .1 !important	; }

:root{ --vertical-divider-width: 55px }
.vertical-divider{
	width: var(--vertical-divider-width);
	@include py(15px);
}

.dot{
	width: 5px;
	height: 10px;
	border-radius: 5px;
	background-color: currentColor;
}

.link{
	@include f-center;
	position: relative;
	height: 40px;
	border: 1px solid hsla(var(--textHSL),.1);
	border-radius: 10px;
	padding-left: 55px;
	box-shadow: inset 40px 0 hsla(var(--textHSL),.1);
	>.fa,.bi{
		@include super-center;
		@include text-muted;
		//@include h7;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 40px;
	}
}

.mx-m15{ @include mx(-15px) }
.gap-x-15{ @include gap-x(15px) }
.gap-y-15{ @include gap-y(15px) }
.gap-x-30{ @include gap-x(30px) }
.gap-y-30{ @include gap-y(30px) }
.fit-x-15{ @include fit-x(15px) }
.fit-x-m15{ @include fit-x(-15px) }
.py-5{ @include py(5px)}

.scroll-item{
	&.slide-left>*{
		transform: translateX(calc(var(--scrollItemSignedTriggerX) * 25%));
		opacity: var(--scrollItemTriggerX);
		transition:
			transform 2s,
			opacity 2s;
	}
	&.slide-left-xtra>*{
		transform: translateX(calc(var(--scrollItemSignedTriggerX) * 50%));
		opacity: var(--scrollItemTriggerX);
		transition:
			transform 2s,
			opacity 2s;
	}
}
