@import '../../_variables';

#Slide1{
	transform: translateZ(-.75px) scale(1.75); @include media-breakpoint-up(sm){ transform: translateZ(-2px) scale(3); }
	width: calc(var(--scrollClientWidth) * 1px);
	@include media-breakpoint-up(sm){ padding-right: var(--vertical-divider-width) !important; }

	.top-name{
		>b{ font-weight: 400 !important; }
	}
	.text-section{
		width: calc(65px + 12vh);
		min-width: 65px + 72px;
	}
	.vertical-title{
		font-size: max(12vh,72px);
		//font-size: 72px;
		line-height: 1;
		//background-image: url('../../assets/imgs/360_F_333787059_30nI9PI9cCySgulYRoNqMrAkuNTwadBT.webp');
		//background-image: url('../../assets/imgs/bg.png');
		//color: transparent;
		//-webkit-background-clip: text;
		//filter: hue-rotate(-15deg);
	}
	.stamp{
		right: 20px;
		bottom: -10px;
		width: 0;
		height: 0;
		opacity: .2;
		transform: rotate(calc(var(--scrollLeft) * -2deg));
		transition: transform 30s;
		will-change: transform;
		img{
			width: 80px;
			height: 80px;
			animation: rotate 15s linear infinite !important;
			will-change: transform;
		}
	}
}